/* ===== HOME SECTION ===== */
.home-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 45px;
    padding-top: 120px;
    flex-wrap: wrap;
    background-color: azure;
  }
  

  .home-left{
    margin-top: -150px;
  }
  .home-right {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #222;
  }
  
  .highlight {
    color: #007BFF;
    font-weight: bold;
  }
  
  h2 {
    font-size: 1.5rem;
    color: #555;
  }
  
  p {
    font-size: 1rem;
    line-height: 1.6;
    color: #444;
    margin-bottom: 30px;
  }
  
  .home-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
  
  .btn-primary,
  .btn-secondary {
    padding: 18px 80px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    font-size: 1.5rem;
    white-space: nowrap;
    transition: 0.6s ease;
    justify-content: flex-end;
  }
  
  .btn-primary {
    background-color: #007BFF;
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .btn-secondary {
    border: 2px solid #007BFF;
    color: #007BFF;
  }
  
  .btn-secondary:hover {
    background-color: #e6f0ff;
  }
  
  .profile-img {
    width: 620px;
    height: 600px;
    object-fit:contain;
    border-radius: 100%;
  }
  
  /* ===== Responsive Design ===== */
  @media (max-width: 768px) {
    .home-container {
      flex-direction: column;
      text-align: center;
    }
  
    .home-buttons {
      justify-content: center;
    }
    .home-right {
      margin-top: 30px;
    }
  }
  
  .btn-download {
    padding: 18px 80px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    font-size: 1.5rem;
    white-space: nowrap;
    background-color:rgb(101, 230, 131);
    color: #fff;
    transition: 0.3s ease;
  }
  
  .btn-download:hover {
    background-color: #218838;
  }
  @media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    padding: 40px 20px;
    text-align: center;
  }

  .home-left {
    margin-top: 0;
  }

  .home-right {
    margin-top: 30px;
  }

  .profile-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
  }

  .home-buttons {
    flex-direction: column;
    gap: 15px;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.95rem;
  }
}
@media (max-width: 768px) {
  .about-section {
    text-align: center;
    padding: 0 15px;
  }

  .about-section h2 {
    font-size: 2rem;
  }

  .about-section p {
    font-size: 1rem;
  }
}